.word {
  display: absolute;
  top: 0px;
  left: 0px;
  min-height: 1em;
}

.word .cursor {
  display: inline-block;
  min-width: 1px;
  background: #062b64;
  margin-left: -0.5em;
  margin-top: -0.1em;
  height: 1.3em;
  vertical-align: middle;
  animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  80.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
